header {
    width:100%;
    position:fixed; left:0; top:0; z-index:999;
}
header .h_top_bg {background-color:#fff;}
header .h_top_bg .h_top {width:1400px; height:80px; margin:0 auto;}
header .h_top_bg .h_top {
    display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center;
}
header .h_top_bg .h_top h1 {}
header .h_top_bg .h_top h1 a {}
header .h_top_bg .h_top .h_user {
    display:flex; flex-flow:row nowrap;
}
header .h_top_bg .h_top .h_user .search {
    width:250px; display:flex; flex-flow:row nowrap; justify-content:space-between;
    padding:5px 10px; border-bottom:1px solid #000;
}
header .h_top_bg .h_top .h_user .search form {}
header .h_top_bg .h_top .h_user .search form input[type=search] {width:200px;}
header .h_top_bg .h_top .h_user .search form input[type=search]::placeholder {
    font-size:0.94rem; letter-spacing:-0.02em; color:#aaa;}
header .h_top_bg .h_top .h_user .search a {margin-left:3px;}
header .h_top_bg .h_top .h_user .search a img {}
header .h_top_bg .h_top .h_user .login_join_cart {}
header .h_top_bg .h_top .h_user .login_join_cart a {
    font-size:0.94rem; letter-spacing:-0.02em; margin-left:20px;
    position:relative; top:8px;
}
header .h_bottom_bg {background-color:#F9F9F9;
    width:100%;
}
header .h_bottom_bg .h_bottom {
    width:1400px; height:50px; margin:0 auto;
    display:flex; flex-flow:row nowrap; align-items:center;
    padding-left:5px;
}
header .h_bottom_bg .h_bottom > a {}
header .h_bottom_bg .h_bottom > a img {}
header .h_bottom_bg .h_bottom nav {display:inline-block; margin-left:60px;}
header .h_bottom_bg .h_bottom nav a {
    font-size:1.06rem; font-weight:500; letter-spacing:-0.02em;
    margin-right:45px;
}
header .h_bottom_bg .h_bottom nav a:last-child {margin:0;}
/* =======================================================공용선택자 */
main {padding-top:130px;}
main .container {width:100%;}
main .container .contents {width:1400px; margin:0 auto;}
/* =======================================================1행 배너 */
main .slides_wrap {position:relative;}
main .slides_wrap .slides_container {}
main .slides_wrap .slides_container .slide {
    background-image:url(../images/bnr.jpg);
    height:670px;
}
main .slides_wrap .slides_container .slide {}
main .slides_wrap .slides_container .slide .content {width:1400px; margin:0 auto; position:relative;}
main .slides_wrap .slides_container .slide .content .slide_txt {
    position:absolute; left:0; top:225px; width:100%;
}
main .slides_wrap .slides_container .slide .content .slide_txt .sub_txt {
    font-size:1.25rem; letter-spacing:-0.02em;
}
main .slides_wrap .slides_container .slide .content .slide_txt h2 {
    font-size:3.00rem; font-weight:700; letter-spacing:-0.02em;
    margin:15px 0 32px;
}
main .slides_wrap .slides_container .slide .content .slide_txt p:nth-child(3) {
    line-height:1.5; letter-spacing:-0.02em;
    margin-bottom:55px;
}
main .slides_wrap .slides_container .slide .content .slide_txt a {
    font-weight:600; letter-spacing:-0.02em;
    padding:4px 8px; border-bottom:1px solid #000;
}
main .slides_wrap .slides_container .slide .content .slide_txt a img {
    margin-left:10px; position:relative; top:3px;
}
main .slides_wrap .prev_btn, main .slides_wrap .next_btn {
    position:absolute; top:45%; opacity:0.05;}
main .slides_wrap .prev_btn:hover, main .slides_wrap .next_btn:hover {opacity:0.2;}
main .slides_wrap .prev_btn {left:150px;}
main .slides_wrap .prev_btn img {}
main .slides_wrap .next_btn {right:150px;}
main .slides_wrap .next_btn img {}
main .slides_wrap .scroll_bg {
    background-color:#ccc; width:1400px; height:2px;
    position:relative; bottom:54px; margin:0 auto;
}
main .slides_wrap .scroll_bg .scrollbar {
    background-color:#111; width:200px; height:100%;}
    
/* =======================================================2행 상품진열 */
main .container .product_wrap {padding:70px 0 120px;}
main .container .product_wrap .tap_menu {
    display:flex; flex-flow:row nowrap;
    justify-content:space-around;
}
main .container .product_wrap .tap_menu li {
    width:calc((100% - (30px * 7)) / 8);
}
main .container .product_wrap .tap_menu li a {
    display:inline-block; text-align:center;
    background-color:#fff; color:#555;
    border:1px solid #aaa; border-radius:30px;
    width:100%; padding:10px 0;
}
main .container .product_wrap .tap_menu .active {}
main .container .product_wrap .tap_menu .active a {
    background-color:#000;
    border:1px solid #000;
    color:#fff 
}
main .container .product_wrap .product_box {}
main .container .product_wrap .product_box .product_row {
    width:100%; display:flex; flex-flow:row nowrap; justify-content:space-between;
}
main .container .product_wrap .product_box .product_row .product {width:calc((100% - (27px * 3)) / 4); margin-top:45px;}
main .container .product_wrap .product_box .product_row .product > a {display:block;}
main .container .product_wrap .product_box .product_row .product .top_img {margin-bottom:15px;}
main .container .product_wrap .product_box .product_row .product .top_img img {width:100%;}
main .container .product_wrap .product_box .product_row .product .brand {
    font-size:0.94rem; color:#555; letter-spacing:-0.02em;
}
main .container .product_wrap .product_box .product_row .product .name {}
main .container .product_wrap .product_box .product_row .product .name h3 {
    height:40px; font-size:1.06rem; font-weight:500; line-height:1.3; letter-spacing:-0.02em; margin:10px 0 15px;
}
main .container .product_wrap .product_box .product_row .product p del {
    color:#aaa; font-weight:500; letter-spacing:-0.02em; 
}
main .container .product_wrap .product_box .product_row .product .price_favorite {overflow:hidden; margin-top:5px;}
main .container .product_wrap .product_box .product_row .product .price_favorite em {
    color:#DA074A; font-size:1.50rem; font-weight:600; letter-spacing:-0.04em; margin-bottom:5px;
}
main .container .product_wrap .product_box .product_row .product .price_favorite strong {
    font-size:1.50rem; font-weight:600; letter-spacing:-0.04em;
}
main .container .product_wrap .product_box .product_row .product .price_favorite span {
    font-size:1.06rem; font-weight:500; letter-spacing:-0.02em;
}
main .container .product_wrap .product_box .product_row .product .price_favorite a {float:right;}
main .container .product_wrap .product_box .product_row .product .price_favorite a img {}
/* =======================================================3행 오구가구 */
main .container .title_bg {background-color:#F1F9FC;}
main .container .title_bg .oggg_title {
    width:1400px; margin:0 auto; padding:30px 20px; margin-bottom:70px;
    display:flex; flex-flow:row nowrap; justify-content:space-between;
}
main .container .title_bg .oggg_title p {line-height:1.5; letter-spacing:-0.02em;}
main .container .title_bg .oggg_title .t_left {}
main .container .title_bg .oggg_title .t_left .title {
    font-size:1.63rem; font-weight:700; letter-spacing:-0.02em; margin-bottom:20px; color:#02597d;
}
main .container .title_bg .oggg_title .t_left p {color:#555;}
main .container .title_bg .oggg_title .t_right {}
main .container .title_bg .oggg_title .t_right a {}
main .container .title_bg .oggg_title .t_right a img {}
main .container .title_bg .oggg_title .t_right p {color:#02597d; font-weight:500;}
main .container .oggg_content {
    width:1400px; margin:0 auto 70px;
    display:flex; flex-flow:row nowrap; justify-content:space-between;
}
main .container .oggg_content li[class^=content] {
    border-radius:10px; overflow:hidden;
}
main .container .oggg_content li[class^=content] p {}
main .container .oggg_content li[class^=content] p img {width:100%;}
main .container .oggg_content li[class^=content] .txt {background-color:#F1F9FC; 
    padding:20px 0; text-align:center; position:relative; top:-2px;
}
main .container .oggg_content li[class^=content] .txt p:first-child {margin-bottom:10px;}
main .container .oggg_content li[class^=content] .txt p {
    font-size:0.94rem; line-height:1.3; letter-spacing:-0.02em; color:#555;
}
main .container .oggg_content li[class^=content] .txt p span {
    font-size:1.25rem; font-weight:600; color:#02597d;
}
/* =======================================================4행 리바트로 꾸민 집 */
main .container_insta {background-color:#F9F9F9;
    padding:100px 0;
}
main .container .insta_wrap {width:100%;}
main .container .insta_wrap .insta_livart {position:relative;}
main .container .insta_wrap .insta_livart .insta_title {text-align:center;}
main .container .insta_wrap .insta_livart .insta_title p:first-child {margin-bottom:15px;}
main .container .insta_wrap .insta_livart .insta_title p {
    letter-spacing:-0.02em; line-height:1.5; color:#555;
}
main .container .insta_wrap .insta_livart .insta_title p span {
    font-size:2.0rem; font-weight:700; line-height:1.0; color:#000;
}
main .container .insta_wrap .insta_livart .insta_content {
    padding:40px 0 40px; display:flex; flex-flow:row nowrap;
    position:relative; left:-150px;
}
main .container .insta_wrap .insta_livart .insta_content li {margin-right:25px; position:relative;}
main .container .insta_wrap .insta_livart .insta_content li:last-child {margin:0;}
main .container .insta_wrap .insta_livart .insta_content li a {}
/* ========마우스 올렸을 때 뜨는 인스타그램 아이디 */
main .container .insta_wrap .insta_livart .insta_content li:hover .icon {display:inline-block;}
main .container .insta_wrap .insta_livart .insta_content li .icon {
    padding:7px 10px; border-radius:15px; background-color:#fff; display:none;
    position:absolute; top:22px; left:18px;
}
main .container .insta_wrap .insta_livart .insta_content li .icon p {
    letter-spacing:-0.02em;
    position:relative; top:-4px;
}
main .container .insta_wrap .insta_livart .insta_content li .icon p img {position:relative; top:6px;}
main .container .insta_wrap .insta_livart .scroll_bg {
    width:1400px; height:2px; margin:0 auto; background-color:#ccc; 
}
main .container .insta_wrap .insta_livart .scroll_bg .scrollbar {
    width:calc(100% / 5); height:100%; background-color:#000;
}
/* ===== */
main .container .insta_wrap .insta_livart > a {position:absolute; top:55%; opacity:0.7;}
main .container .insta_wrap .insta_livart > a img {}
main .container .insta_wrap .insta_livart .prev_btn:hover,
main .container .insta_wrap .insta_livart .next_btn:hover {opacity:1;}
main .container .insta_wrap .insta_livart .prev_btn {left:150px;}
main .container .insta_wrap .insta_livart .prev_btn img {}
main .container .insta_wrap .insta_livart .next_btn {right:150px;}
main .container .insta_wrap .insta_livart .next_btn img {}
/* =======================================================5행 공지사항 */
main .container .notice_wrap {
    padding:50px 0 70px;
    display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center;
}
main .container .notice_wrap {}
main .container .notice_wrap .notice {
    width:400px; 
}
main .container .notice_wrap .notice > a {
    display:block; padding-bottom:7px; border-bottom:1px solid #000;
    ont-size:1.25rem; font-weight:600; letter-spacing:-0.02em;
}
main .container .notice_wrap .notice > a img {float:right;}
main .container .notice_wrap .notice ul {}
main .container .notice_wrap .notice ul li {margin-top:14px;}
main .container .notice_wrap .notice ul li:first-child {margin-top:20px;}
main .container .notice_wrap .notice ul li a {display:flex; flex-flow:row nowrap; justify-content:space-between;}
main .container .notice_wrap .notice ul li a p:first-child {
    width:290px; overflow:hidden; 
}
main .container .notice_wrap .notice ul li a p {
    font-size:0.94rem; line-height:1.3; letter-spacing:-0.02em; color:#555;
    text-overflow:ellipsis; white-space:nowrap;
}
main .container .notice_wrap .notice_nav {}
main .container .notice_wrap .notice_nav div[class^=n_nav] a {
    background-color:#F5F5F5; display:inline-block;
    padding:5px 10px; margin-right:15px; border-radius:10px; 
}
main .container .notice_wrap .notice_nav div[class^=n_nav] span {
    width:60px; text-align:center; display:inline-block; margin-right:10px;
    position:relative; bottom:18px;
}
main .container .notice_wrap .notice_nav .n_nav_top {margin-bottom:15px;}
main .container .notice_wrap .notice_nav .n_nav_top a {}
main .container .notice_wrap .notice_nav .n_nav_top a img {}
main .container .notice_wrap .notice_nav .n_nav_top a span {}
main .container .notice_wrap .notice_nav .n_nav_bottom {}
main .container .notice_wrap .notice_nav .n_nav_bottom a {}
main .container .notice_wrap .notice_nav .n_nav_bottom a img {}
main .container .notice_wrap .mystore_bnr {
    background-image:url(../images/my_store_bnr.jpg);
    width:367px; height:145px; border-radius:5px;
}
main .container .notice_wrap .mystore_bnr .img_bg {position:relative; left:35px; top:38px;}
main .container .notice_wrap .mystore_bnr .img_bg p {
    font-weight:500; letter-spacing:-0.02em; margin-bottom:8px;
}
main .container .notice_wrap .mystore_bnr .img_bg p:last-child {margin:24px 0 0;}
main .container .notice_wrap .mystore_bnr .img_bg p em {
    font-size:1.06rem;}
main .container .notice_wrap .mystore_bnr .img_bg p span {
    color:#aaa; font-size:0.75rem; font-weight:400;
}
/* =======================================================footer */
footer .container {width:100%; background-color:#02597d;}
footer .container .footer_wrap {
    display:flex; flex-flow:row nowrap; justify-content:space-between;
    width:1400px; margin:0 auto; padding:50px 0;
}
footer .container .footer_wrap * {color:#fff;}
footer .container .footer_wrap .f_left {}
footer .container .footer_wrap .f_left .f_top {margin-bottom:25px;}
footer .container .footer_wrap .f_left .f_top li {display:inline-block; margin-right:20px; }
footer .container .footer_wrap .f_left .f_top li:last-child {margin:0px; }
footer .container .footer_wrap .f_left .f_top li a {font-size:0.88rem; letter-spacing:-0.02em;}
footer .container .footer_wrap .f_left address {}
footer .container .footer_wrap .f_left address .call {}
footer .container .footer_wrap .f_left address .call p {font-size:1.25rem; font-weight:600; letter-spacing:-0.02em; margin-bottom:25px;}
footer .container .footer_wrap .f_left address .call ul {display:flex; margin-bottom:10px;}
footer .container .footer_wrap .f_left address .call ul li {font-weight:500; letter-spacing:-0.02em;}
footer .container .footer_wrap .f_left address .call ul li:last-child {margin-left:30px;}
footer .container .footer_wrap .f_left address .address_copy {margin-bottom:25px;}
footer .container .footer_wrap .f_left address .address_copy p {
    font-size:0.88rem; letter-spacing:-0.02em; line-height:1.5; 
}
footer .container .footer_wrap .f_left address .address_copy p:last-child {margin-top:25px;}
footer .container .footer_wrap .f_right {display:flex; flex-flow:column nowrap; text-align:right;}
footer .container .footer_wrap .f_right .family_site {padding:5px 10px 2px; background-color:#fff;}
footer .container .footer_wrap .f_right .family_site a {color:#02597d; display:flex; justify-content:space-between;}
footer .container .footer_wrap .f_right .family_site a img {position:relative; bottom:2px;}
footer .container .footer_wrap .f_right > a {margin-top:25px;}
footer .container .footer_wrap .f_right > a img {}